

.game{
    width: 60%;
    height: 80%;
}

/* .start{
    display: none;
} */

.game-panel{
    display: none;
}

.results{
    display: none;
}

.alternatives{
    display: flex;
    flex-direction: column;
    width: 70%;
    gap: 10px;
}